In [1]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
from sklearn import decomposition
from scipy import stats
from sklearn import cluster

matplotlib.style.use('fivethirtyeight')
matplotlib.rcParams['font.size'] = 12
matplotlib.rcParams['figure.figsize'] = (10, 10)

In [2]:
# Load the data
train = pd.read_csv('train.csv')

train.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [7]:
train.shape

(1458644, 11)

In [8]:
# remove outliters
lat = np.array(list(train['pickup_latitude']) + list(train['dropoff_latitude']))
long = np.array(list(train['pickup_longitude']) + list(train['dropoff_longitude']))

long_limits = [np.percentile(long, 0.3), np.percentile(long, 99.7)]
lat_limits = [np.percentile(lat, 0.3), np.percentile(lat, 99.7)]
dur_limits = [np.percentile(train['trip_duration'], 0.4), np.percentile(train['trip_duration'], 99.6)]

train = train[(train['pickup_latitude'] >= lat_limits[0]) & (train['pickup_latitude'] <= lat_limits[1])]
train = train[(train['dropoff_latitude'] >= lat_limits[0]) & (train['dropoff_latitude'] <= lat_limits[1])]
train = train[(train['pickup_longitude'] >= long_limits[0]) & (train['pickup_longitude'] <= long_limits[1])]
train = train[(train['dropoff_longitude'] >= long_limits[0]) & (train['dropoff_longitude'] <= long_limits[1])]
train = train[(train['trip_duration'] >= dur_limits[0]) & (train['trip_duration'] <= dur_limits[1])]
train = train.reset_index(drop=True)

allLat = np.array(list(train['pickup_latitude']) + list(train['dropoff_latitude']))
allLong = np.array(list(train['pickup_longitude']) + list(train['dropoff_longitude']))

In [9]:
train.shape

(1418863, 11)